<form method="post" class=" btn btn-danger" action="{{ path('app_survey_delete', {'id': survey.id}) }}"
      onsubmit="return confirm('Вы хотите удалить тест?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ survey.id) }}">
    <button class="btn m-0 p-0 border-0 text-white ">Удалить</button>
</form>
