{% extends 'base.html.twig' %}

{% block title %}Edit Survey{% endblock %}

{% block body %}
    <div class="col-12">
        <h1 class="align-bottom d-flex align-items-center justify-content-between">
            <span>Редактирование теста {{ survey.name }}</span>
            <span class="float-end">
            <a class="btn btn-success " href="{{ path('app_survey_index') }}">К списку</a>
            {{ include('survey/_delete_form.html.twig') }}
            </span>
        </h1>
        <hr>
        {{ component('survey_form', {
            survey: survey,
            form: form
        }) }}
    </div>

{% endblock %}
