{% extends 'base.html.twig' %}

{% block title %}New Survey{% endblock %}

{% block body %}
    <div class="col-12">
        <h1 class="align-bottom d-flex align-items-center justify-content-between">
            <span>Создание теста</span>
            <a class="float-end btn btn-success " href="{{ path('app_survey_index') }}">К списку</a>
        </h1>
        <hr>
        {{ component('survey_form', {
            survey: null,
            form: form
        }) }}
    </div>
{% endblock %}