{% extends 'base.html.twig' %}

{% block title %}Результаты теста{% endblock %}

{% block body %}
    <div class="col-12">
        <h1>Результаты тестов</h1>
        <div class="card">
            <ul class="list-group list-group-flush">
                {% for result in results %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>{{ result.survey.name }} &mdash; {{ result.participant.email }}</span>
                        <a class="btn btn-success" href="{{ url('app_result_view', {'id': result.id}) }}">просмотреть</a>
                    </li>
                {% else %}
                    <li class="list-group-item"><h2 class="text-center">Нет результатов</h2></li>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock %}
