{% extends 'base.html.twig' %}

{% block title %}Результаты теста{% endblock %}

{% block body %}

    <div class="col-12">
        <h1>{{ result.survey.name }} &mdash; {{ result.participant.email }}</h1>
        <p><strong>Вы ответили правильно на {{ validAnswers }} вопросов из {{ totalQuestions }} вопросов всего теста.</strong></p>
    </div>
{% endblock %}
