{% extends 'base.html.twig' %}

{% block title %}Результаты теста{% endblock %}

{% block body %}

    <div class="col-12">
        <h1>{{ result.survey.name }} &mdash; {{ result.participant.email }}</h1>
        <p>Подсвечивание зеленым обозначает выбор правильного ответа</p>
        <ul class="list-group">
            {% for item in data %}
                <li class="list-group-item{% if item['valid'] %}list-group-item-success{% endif %}">
                    <h3>{{ item['question'] }}</h3>
                    <p>{{ item['answer'] }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
