{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="col-12">
        <h1>Пользователи</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Электронная почта</th>
                <th>Роли</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% for role in user.roles %}
                        {%  if role == 'ROLE_USER' %}
                        <span class="badge bg-success">пользователь</span>
                        {% endif %}
                        {%  if role == 'ROLE_ADMIN' %}
                        <span class="badge bg-danger">админ</span>
                        {% endif %}
                    {% else %}
                    {% endfor %}
                </td>
                <td class="d-flex justify-content-end">
                    <a class="btn btn-danger btn-sm" href="{{ path('app_user_admin', {'id': user.id}) }}">Сделать админом</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_user_new') }}">Создать нового пользователя</a>
{% endblock %}
