{% extends 'base.html.twig' %}

{% block title %}Новый пользователь{% endblock %}

{% block body %}
    <div class="col-12">
        <h1 class="align-bottom d-flex align-items-center justify-content-between">
            <span>Создание пользователя</span>
            <a class="float-end btn btn-success " href="{{ path('app_user_index') }}">К списку</a>
        </h1>

        {{ include('user/_form.html.twig') }}

    </div>
{% endblock %}
